<article class="card-item">
  <header class="card-header">
    <h3 class="card-title">
      <a href="{{ post.url }}">{{ post.title }}</a>
    </h3>

    {% assign primary_category = post.categories | first %}

    {% include post-meta.html
    content=post.content
    date=post.date
    category=primary_category
    github=post.github
    %}

  </header>

  <div class="card-body">
    <p class="card-excerpt">
      {{ post.description | default: post.content | strip_html | truncatewords: 2000 }}
    </p>
  </div>

  <footer class="card-footer">
    {% include post-tags.html tags=post.tags %}
    <a href="{{ post.url }}" class="read-more">
      <i class="fas fa-book-open"></i> Read More <i class="fas fa-arrow-right"></i>
    </a>
  </footer>
</article>
